<!--suppress HtmlFormInputWithoutLabel -->
<mat-card class="m-4">
  <mat-card-header>
    <mat-card-title>Create new task</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [formGroup]="blogTaskCreateForm">
      <mat-form-field>
        <mat-label>Summary</mat-label>
        <input matInput placeholder="Summary of task" formControlName="summary">
        <mat-error *ngIf="summaryControl.hasError('required')">
          Summary is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex flex-row m-2">
      <button mat-flat-button color="warn" (click)="cancel()">
        <mat-icon>home</mat-icon>
        Cancel
      </button>
      <div class="flex-fill"></div>
      <button mat-flat-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
        Add task
      </button>
    </div>
  </mat-card-footer>
</mat-card>
