<mat-card class="m-4">
  <mat-card-header>
    <mat-card-title>Tasks</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Finished {{finishedCount}} tasks of {{taskCount}}</p>
    <mat-list #taskList>
      <mat-list-item *ngFor="let task of tasks | async">
          <mat-form-field>
            <mat-select [value]="task.status" (selectionChange)="taskSvc.updateStatus(task.id, $event.value).subscribe()">
              <mat-option value="new">New</mat-option>
              <mat-option value="open">Open</mat-option>
              <mat-option value="in progress">In progress</mat-option>
              <mat-option value="done">Done</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="ml-2">
            {{task.summary}}
          </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
